#footer{
    background-color: black;
    padding: 70px 0;
    box-shadow: 3px 3px 5px rgba(10, 10, 10, 100);
}
.footer_container{
    max-width: 1170px;
    background-color: black;
    margin: auto;
}
.footer_container ul{
    list-style: none;
}
.footer_container .row{
    display: flex;
    flex-wrap: wrap;
}
.footer_container .footercol{
    width: 25%;
    padding: 0 15px;
}
.footercol h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footercol h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: whitesmoke;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footercol ul li:not(:last-child){/*this means if its not the last child then runs this command*/
    margin-bottom: 10px;
}
.footercol ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease; 
}
.footercol ul li a:hover{
    color: white;
    padding-left: 8px;
    font-size: 20px;
}
.footercol .sociallink a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225,225,225,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}
.footercol .sociallink a:hover{
    background-color: white;
}
.jump-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .jump-to-top:hover {
    background-color: #555;
    transform: scale(1.1);
  }

@media screen and (max-width: 700px){
    .footercol {
        width: 50%;
        margin-bottom: 30px;
    }
    .footer_container .row{
        flex-direction: column;
    }
}
@media screen and (max-width: 550px){
    .footercol {
        width: 100%;
        flex-direction: column;
    }
    .footer_container .row{
        flex-direction: column;
    }
}
